* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.mynav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eadfe9;
  padding: 15px 20px;
  margin-top: 14px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
  .logo img{
width: 120px;
margin: 6px;
  }


.list {
  list-style: none;
  display: flex;
}

.list li {
  margin: 0 15px;
}

.list a {
  text-decoration: none;
  color: rgb(136, 53, 133);
  font-size: 26px;
  transition: color 0.3s;
}

.list a:hover {
  color: #010101;
}
